@import "tailwindcss";

@theme {
  --color-dark: #0d1933;
  --color-grey: #6e7585;
  --color-grey-light: #e7e8eb;
  --color-primary: #0090ff;
  --color-secondary: #48bd77;
  --color-warning: #ff9141;
  --color-danger: #fb5656;
  --color-border: #cfd1d6;
}
